/* Scrollable Menu Container */
.scrollmenu {
    background-color: #333;
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem 0;
    scrollbar-width: thin;
    scrollbar-color: #777 #333;
}

.scrollmenu::-webkit-scrollbar {
    height: 8px;
}

.scrollmenu::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 4px;
}

.scrollmenu::-webkit-scrollbar-track {
    background-color: #333;
}

/* Scrollable Menu Items */
.scrollmenu li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    margin: 0 5px;
    background-color: #444;
    border-radius: 4px;
    transition: background-color 0.2s;
    font-weight: bold;
}

.scrollmenu li:hover {
    background-color: #777;
}
