.profile-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.profile-image {
    width: 90px; 
    height: 90px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.clickable-icon {
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.clickable-icon:hover, .profile-image:hover {
    transform: scale(1.05);
}

.clickable-icon:active, .profile-image:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

  

h2 {
    color: #333;
}

.edit-form, .profile-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.edit-form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-form input {
    width: 70%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    padding: 0.5rem 1rem;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e55b50;
}

.cancel {
    background-color: #ccc;
    color: black;
}

.cancel:hover {
    background-color: #bbb;
}
